/* Canvas Cards - Adaptive Sizing */
.canvas-card {
    position: absolute;
    border-radius: 8px;
    padding: 0;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.4);

    /* Smooth transition for puzzle movement AND resizing */
    transition: top 0.8s cubic-bezier(0.2, 0.8, 0.2, 1),
        left 0.8s cubic-bezier(0.2, 0.8, 0.2, 1),
        width 0.8s cubic-bezier(0.2, 0.8, 0.2, 1),
        height 0.8s cubic-bezier(0.2, 0.8, 0.2, 1),
        transform 0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
    will-change: top, left, width, height, transform;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Shape Classes */
.shape-square {
    width: 100px;
    height: 100px;
}

.shape-wide {
    width: 210px;
    height: 100px;
}

.shape-tall {
    width: 100px;
    height: 210px;
}

.shape-big {
    width: 210px;
    height: 210px;
}


/* ABSTRACT WIDGET STYLES */

/* 1. Text Block - Blue */
.card-text {
    /* background-color: #3B82F6; */
    /* background-color: #8A936A; */
    /* background-color: #bd8787; */
    background-color: #C97F7C;
}

/* 2. Image Block - Red */
.card-image {
    /* background-color: #EF4444; */
    /* background-color: #CB8D30; */
    /* background-color: #cc9c52; */
    background-color: #D1923E;
}

/* 3. Listed Block - Yellow */
.card-listed {
    /* background-color: #EAB308; */
    /* background-color: #144357; */
    /* background-color: #7a8f76; */
    background-color: #6F8D68;
}

/* 4. Video Block - Green */
.card-video {
    /* background-color: #22C55E; */
    /* background-color: #6C0A00; */
    /* background-color: #637a8a; */
    background-color: #5B7D93;
}

/* 5. Tweet Block - Purple */
.card-tweet-embed {
    /* background-color: #A855F7; */
    /* background-color: #602E5B; */
    /* background-color: #967bb6; */
    background-color: #9D6EC2;
}